
#todo-item {
  font-size: 2em;
}

.nav-wrapper{
    background: rgb(11, 23, 184);
}

#add-to-do{
background-color: green;
}

.paggination{
  background: rgb(11, 23, 184);
}

.summit{
margin-left: 25%;
width: 50%;
}

body{
background-image: url(../../IMAGES/1.png);
background-size: 200px;
}
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}
#status{
  color: red;
}
.logo{
width:180px;
height: 36px;
margin-left: 10px;
margin-top: 15px;
}
.login {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 30%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
.contactar{
  color: white;
  font-weight: bold;
}
.cardimage{
  object-fit: cover;
  height: 200px;
}
.card-image{
  height: 200px;
}
label.upload-group{
width: 80px;
height: 40px;
color: white;
padding: 5 5 5 5;
text-align: center;
background-color: blue;
}
input#file{
width:0.1px;
height: 0.1px;
position: absolute;
z-index: -1;

}
.card{
  margin: 10px;
  height: 350px;
}
@media (max-width: 990px) {
  .resizeimg {
    height: auto;
  }
  .login {
    width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 1000px) {
  .resizeimg {
    width: auto;
    height: 350px;
  }
}